.header-title{
    text-align: start;
}

.shop-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.card-conatainer{
    background-color: violet;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}