.header-title{
    text-align: start;
}

.shop-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.card-conatainer{
    background-color:rgb(12, 15, 19);
    color: white;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
@media screen and (max-width:376px) {
    .shop-container{
        grid-template-columns: 1fr 1fr;
    }
    .product-container{
        grid-template-columns: repeat(1,1fr);
    }
}